POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=12345
POSTGRES_HOST=banco
POSTGRES_PORT=5432
POSTGRES_DATABASE=agendaVirtual

DATABASE_URL=postgres://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}